# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn/install-state.gz

# Testing
/coverage
/test-results
/playwright-report
/playwright/.cache
*.lcov
.nyc_output

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist

# Misc
.DS_Store
*.pem
Thumbs.db
ehthumbs.db
Desktop.ini

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log
lerna-debug.log*

# Environment files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# parcel-bundler cache
.cache
.parcel-cache

# Temporary folders
tmp/
temp/

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook build outputs
.out
.storybook-out
storybook-static

# Turbo
.turbo

# Sentry Config File
.sentryclirc

# Custom project files
*.PNG
*.png.tmp
/public/*.PNG
/public/*.png.tmp
Sfsfahfgjvb..PNG
xzgxcbxfgj.PNG
zbxnbcn.PNG
