@page "/Landing"

<div class="container cls_bbg" style="max-width: 100%;padding: 0px;" >
    <div class="cls_bgg">
        <div class="cls_new_image_left" style="width:100% ">
            <img alt="" style="width: 100%;min-height: 90vh;height: 450px" src="./Images/bg.jpg?v=1" />
        </div>
    </div>
</div>