@using System.Net.Http
@using System.Threading.Tasks
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime
@using Winit.UIModels.Common.GraphModels
<div class="chartMenu">
    <p>DOUGHNUT CHART</p>
</div>
<div class="chartCard">
    <div class="chartWrapper">
        <canvas id="myDoughnutChart" width="200" height="200"></canvas>
    </div>
</div>

@code {
    [Parameter]
    public List<DoughnutModel> DataSource { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadDoughnutChart();
        }
    }

    private async Task LoadDoughnutChart()
    {
       
        var jsonData = JsonConvert.SerializeObject(DataSource);
        await JSRuntime.InvokeAsync<object>("DoughnutChart", "myDoughnutChart", new object[] { jsonData });
}
}
<style>
    .chartWrapper {
        width: 300px; /* Adjust this value as needed */
        height: 300px; /* Adjust this value as needed */
        position: relative;
    }

        .chartWrapper canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
</style>




