
@using Microsoft.JSInterop
@inject IJSRuntime jsRunTime


<div style="width: 100%; height: 100%; position: relative;">
    <canvas id="percentageChart" width="150" height="150"></canvas>
</div>
@code {
    [Parameter]
    public double Percentage { get; set; } = 69;
    [Parameter]
    public double PercentageFontSizeInPx { get; set; } = 14;
    [Parameter]
    public string PercentageColor { get; set; } = "green";
    [Parameter]
    public string RemainigColor { get; set; } = "white";
    [Parameter]
    public string BackgroundColor { get; set; } = "#00000000";
    [Parameter]
    public string PercentageTextColor { get; set; } = "white";

    bool isPageRendered{ get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isPageRendered = true;
            await RenderChart();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await RenderChart();
    }

    private async Task RenderChart()
    {
        if (isPageRendered)
        {
            await jsRunTime.InvokeVoidAsync("PercentageChart", "percentageChart", Percentage, PercentageFontSizeInPx, PercentageColor, PercentageTextColor, RemainigColor, BackgroundColor);
        }
    }

}

