.cls_add_new_sec {
    background: #fff;
    padding: 5px 25px;
    color: #013799;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px 0 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    border: 1px solid #013799;
    font-weight: 700;
    cursor: pointer
}

    .cls_add_new_sec:hover {
        background-color: #003898;
        color: white;
        border-color: white;
    }
