<div class="cls_my_customer">
    <div class="cls_my_customer_rep">
        <div class="cls_my_customer_rep_left">
            <h2>Heading</h2>
            <p>Description will come here</p>
        </div>
        <div class="cls_my_customer_rep_right"></div>

    </div>
    <div class="cls_my_customer_rep">
        <div class="cls_my_customer_rep_left">
            <h2>Heading</h2>
            <p>Description will come here</p>
        </div>
        <div class="cls_my_customer_rep_right"></div>

    </div>
</div>