@using Microsoft.JSInterop;
@using Winit.Shared.Models.Common
@inject IJSRuntime _jSRunTime;
@inject IAppConfig _appConfigs;
<SwipeArea OnSwipe="async (e) => await HandleSwipe(e)">
    <div class="cls_product_details1" style="height: 30%;">
        <span>
            <img class="img-fluid" @ref="ImgRef" src="@(Path.Combine(_appConfigs.ApiDataBaseUrl, CurrentImage))" onerror="this.src='/Data/SKU/no_image_available.jpg'"
                 alt="Product Image" style="max-width: 100%; height:300px" />
        </span>
    </div>
</SwipeArea>
<div class="d-flex flex-row p-3  ">
    @if (Images != null && Images.Any())
    {
        @foreach (var img in Images)
        {
            <div class="p-1 cls_mar_right_4px" style="border:2px solid gray; border-radius:5px; @(img==CurrentImage ? "border-color:#19298b;":"")">
                <img src="@(Path.Combine(_appConfigs.ApiDataBaseUrl, img))" width="50"
                     height="50" @onclick="() => HandleImageChange(img)" />
            </div>
        }

    }
</div>

@* @using Blazorise
@using Blazorise.Components

<Carousel  ShowIndicators="true" Interval="3000">
    @foreach (var imageUrl in Images)
    {
        <CarouselSlide>
            <img src="@imageUrl" class="d-block w-100" alt="Product Image">
        </CarouselSlide>
    }
</Carousel> *@
