<PageTitle>Error</PageTitle>
@inherits WinIt.Pages.Base.BaseComponentBase
<h3>Error Page</h3><br/>
<h4>Error Description</h4><hr/>
<b>@Context.Message</b>
<br/>
<h4>Stack Trace</h4>
<hr />
<b>@Context.StackTrace</b>
