@inherits LayoutComponentBase

<div class="main">
    <div class="content" style="padding:0px;">
        <Winit.UIComponents.Common.Common.AlertComponent />
        <Winit.UIComponents.Common.Common.Loader Color="text-info" />
        <Winit.UIComponents.SnackBar.ToastProvider></Winit.UIComponents.SnackBar.ToastProvider>
        @Body
    </div>
</div>